.container {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;


    .controls-wrapper{
        width: 100%;
    }

    .seperator{
        width: 100%;
    }

    .carousel-wreapper{
        width: 100%;
    }

    .rec-carousel-item:focus{
        outline: none;
        box-shadow: inset 0 0 1px 0px violet;
    }
}